<div style="text-align: center"><img src="assets/logo.png"></div>

<p *ngIf="extendedMode">
	<mat-form-field>
		<input matInput [(ngModel)]="videoId">
	</mat-form-field>

	<button mat-raised-button color="primary" (click)="send()">Send</button>
</p>

<p>
    <mat-list>
      <mat-list-item *ngFor="let kvp of videos | keyvalue">
        <img matListAvatar src="{{kvp.value.thumbnail}}" alt="{{kvp.value.title}}" style="width: 60px; height: 45px; border-radius: 0%">
		    <h3 matLine><b>{{kvp.value.title}}</b></h3>
        <div matLine>
          <a href="{{kvp.value.url}}" *ngIf="kvp.value.isReady && !kvp.value.error">Download</a>
          <div *ngIf="!kvp.value.isReady">{{kvp.value.message}}</div>
          <div *ngIf="kvp.value.error" style="color:red">{{kvp.value.error}}</div>
        </div>
      </mat-list-item>
    </mat-list>
</p>
